ConsoleClient/Service References/ServiceReference1/Niviane_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Niviane_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Niviane_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNodeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeDetail" nillable="true" type="tns:NodeDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeDetail" nillable="true" type="tns:ArrayOfNodeDetail" />
  <xs:complexType name="NodeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Basic" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Level" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeID" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeDetail" nillable="true" type="tns:NodeDetail" />
  <xs:complexType name="ProcessRunning">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arguments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRunning" type="xs:boolean" />
      <xs:element minOccurs="0" name="Process" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessRunning" nillable="true" type="tns:ProcessRunning" />
</xs:schema>